.scheduler,
.clients {
  max-width: 780px;
  margin: 0 auto;
}

.providers {
  margin: 25px 0;
}

.providers-heading {
  text-align: left;
}

.available-slots {
  max-width: 300px;
  margin: 0 auto;
}
